<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!--Main Menu Root-->
        <menuitem
                id="hospital_menu_root"
                web_icon="om_hospital,static/description/icon.png"
                name="Hospital"
                sequence="0"/>

        <!--Patient Details Menu (Dropdown menu name)-->
        <menuitem
                id="patient_details_menu"
                name="Patients Details"
                parent="hospital_menu_root"
                sequence="0"/>

        <!--Patient item in dropdown Patient Details  Menu-->
        <menuitem
                id="patient_menu"
                name="Patients"
                parent="patient_details_menu"
                action="om_hospital.hospital_patient_action"
                sequence="0"/>

        <!--Female Patient item in dropdown Patient Details  Menu-->
        <menuitem
                id="kids_patient_menu"
                name="Kids Patients"
                parent="patient_details_menu"
                action="om_hospital.hospital_kids_patient_action"
                sequence="1"/>

        <!--Appointments Menu (Dropdown menu name)-->
        <menuitem
                id="appointment_main_menu"
                name="Appointments"
                parent="hospital_menu_root"
                sequence="1"/>

        <!--Appointments item in dropdown Patient Details  Menu-->
        <menuitem
                id="appointment_menu"
                name="Appointments"
                parent="appointment_main_menu"
                action="om_hospital.hospital_appointment_action"
                sequence="0"/>
    </data>
</odoo>